/* normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 20, ../../../sass/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 30, ../../../sass/normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 40, ../../../sass/normalize.scss */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 49, ../../../sass/normalize.scss */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 66, ../../../sass/normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 77, ../../../sass/normalize.scss */
body {
  margin: 0; }

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 89, ../../../sass/normalize.scss */
body,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 102, ../../../sass/normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../../../sass/normalize.scss */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 125, ../../../sass/normalize.scss */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 133, ../../../sass/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 142, ../../../sass/normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 146, ../../../sass/normalize.scss */
blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 154, ../../../sass/normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 162, ../../../sass/normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 175, ../../../sass/normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 185, ../../../sass/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 198, ../../../sass/normalize.scss */
q {
  quotes: none; }

/* 2 */
/* line 205, ../../../sass/normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 210, ../../../sass/normalize.scss */
small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 220, ../../../sass/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 227, ../../../sass/normalize.scss */
sup {
  top: -0.5em; }

/* line 231, ../../../sass/normalize.scss */
sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/* line 241, ../../../sass/normalize.scss */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

/* line 246, ../../../sass/normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 251, ../../../sass/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 267, ../../../sass/normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9 
 */
/* line 276, ../../../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 289, ../../../sass/normalize.scss */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 302, ../../../sass/normalize.scss */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
/* line 310, ../../../sass/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
/* line 321, ../../../sass/normalize.scss */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 335, ../../../sass/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 347, ../../../sass/normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 361, ../../../sass/normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
/* line 373, ../../../sass/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 383, ../../../sass/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
/* line 394, ../../../sass/normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 404, ../../../sass/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 414, ../../../sass/normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
/* line 428, ../../../sass/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 440, ../../../sass/normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none; }

/* line 445, ../../../sass/normalize.scss */
dd {
  margin: 0; }

/* line 451, ../../../sass/normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

/* proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens) */
/* line 456, ../../../sass/normalize.scss */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto; }

/* line 465, ../../../sass/normalize.scss */
b,
strong,
.strong {
  font-weight: bold; }

/* line 471, ../../../sass/normalize.scss */
dfn,
em,
.em {
  font-style: italic; }

/* line 475, ../../../sass/normalize.scss */
small, .small {
  font-size: 75%; }

/*********************
CLEARFIXIN'
*********************/
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 487, ../../../sass/normalize.scss */
.clearfix:before,
.clearfix:after,
.nav .menu ul:before,
.nav .menu ul:after {
  content: "";
  display: table; }

/* line 489, ../../../sass/normalize.scss */
.clearfix:after,
.nav .menu ul:after {
  clear: both; }

/* line 491, ../../../sass/normalize.scss */
.clearfix,
.nav .menu ul {
  zoom: 1; }
